.neo-container
    height: 100%
    width: 64rem
    max-width: 100%
    position: absolute
    right: 0
    left: 0
    margin: auto

.title-container
    width: 100%
    text-align: center
    padding-top: 1rem

.search-container
    margin-top: 1rem
    width: 100%
    display: flex
    justify-content: center
    gap: 1rem

.neo-title
    font-size: 2rem

.search-btn
    margin-top: 0.5rem