<div class="neo-container">
  <div class="title-container">
      <span class="neo-title">Near Earth Object Web Service</span>
  </div>
  <form [formGroup]="searchForm" (ngSubmit)="onSearchClicked()">
    <div class="search-container">

      <mat-form-field class="example-full-width">
        <mat-label>Start date</mat-label>
        <input matInput type="date" formControlName="startDate">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>End date</mat-label>
        <input matInput type="date" formControlName="endDate">
      </mat-form-field>

      <button mat-stroked-button color="primary" class="search-btn"
        type="submit" [disabled]="searchForm.invalid">
        Search</button>
     
      <mat-spinner *ngIf="isLoading" diameter="48"></mat-spinner>
    </div>
  </form>
  <div class="neo-list-container" *ngIf="asteroids.length !== 0">
    <app-neo-list [asteroids]="asteroids"></app-neo-list>
  </div>
</div>
